body {
    background-color: rgb(128, 117, 126);
}

@font-face {
    src: url(fonts/celticmd.ttf);
    font-family: celtic;
}

@font-face {
    src: url(fonts/Minecraftia-Regular.ttf);
    font-family: mine;
}

@font-face {
    src: url(fonts/JMH\ Typewriter.ttf);
    font-family: typewriter;
}

h1 {
    text-align: center;
    font-family: celtic;
    font-size: 50px;
    font-weight: 300;
    color: rgb(31, 23, 42);
}

#foto {
    width: 300px;
    position: absolute;
    z-index: 1;
    padding: 5px;
    background-color: black;
}

#sobre {
    position: absolute;
    z-index: 2;
    top: 130px;
    left: 330px;
}

#sobremim {
    position: absolute;
    z-index: 3;
    top: 190px;
    left: 330px;
    font-family: mine;
    font-size: 15px;
    color: rgb(198, 202, 201);
}

#indice {
    position: absolute;
    z-index: 4;
    top: 450px;
    border: 2px solid black;
}

#hab {
    position: absolute;
    z-index: 5;    
    top: 630px;
}

ul {
    position: absolute;
    z-index: 6;
    top: 690px;
    font-family: mine;
    font-size: 15px;
    color: rgb(198, 202, 201);
    line-height: 25px;
}

#reco {
    position: absolute;
    z-index: 7;
    top: 860px;
}

#recomenda {
    position: absolute;
    z-index: 8;
    top: 920px;
    padding-bottom: 30px;
    font-family: mine;
    font-size: 15px;
    color: rgb(198, 202, 201);
}

h3 {
    font-size: 25px;
    font-family: typewriter;
    color: rgb(50, 34, 60);    
}

h2 {
    font-size: 30px;
    font-family: typewriter;
    color: rgb(46, 32, 53);
}

ol {
    font-family: mine;
    font-size: 15px;
    color: rgb(198, 202, 201);
    line-height: 25px;
    margin-right: 20px;
}


.impar {
    color: black;
    font-style: italic;
}