body {
    background-color: rgb(127, 111, 125);
}

@font-face {
    src: url(fonts/celticmd.ttf);
    font-family: celtic;
}

@font-face {
    src: url(fonts/Minecraftia-Regular.ttf);
    font-family: mine;
}

h1 {
    font-family: celtic;
    font-weight: 300;
}

#desc {
    font-family: mine;
    font-size: 15px;
}